@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap');

.App 
{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Spartan', sans-serif;
  color: #555555;
  background-color: #f3f3f3;
}

@keyframes App-logo-spin 
{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title
{
  text-transform: uppercase;
  font-weight: bold;
}

.title2
{
  color: #FF8900;
}

//Login Main Container
.login {
  width: 25em;
  height: 35em;
  //min-height: 44em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  position: relative;
  z-index: 99;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: 100%;
    height: 100%;
    z-index: 99;
    padding: 17px 10px;
    //transition: transform 200ms ease-in-out;
  }
  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    background-color: #FF8900;
    width: 100%;
    position: absolute;
    right: -34%;
    border-radius: 6px;
    z-index: 1;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);

    &.right {
      right: -40%;
      align-items: flex-end;
      &:hover {
        right: -45%;
      }
    }
    &.left {
      right: 40%;
      align-items: flex-start;
      &:hover {
        right: 45%;
      }
    }

    .text {
      font-size: 21px;
      font-weight: 500;
      color: #fff;
      margin-right: 3em;
      margin-left: 3em;
    }
  }
}

//Button
.btn {
  font-size: 13px;
  padding: 10px 20px;
  margin: 0px 10px;
  border: 0;
  background-color: #FF8900;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #FF8900;
  }
  &:focus {
    outline: none;
  }
}

.reset-pass
{
  background-color: #dadada;
  color: #555555;
  &:hover {
    background-color: #f3f3f3;
  }
  &:focus {
    outline: none;
  }
}

.copy
{ 
  margin-top: 75px;
  font-size: 12px;
}